{% extends 'base/base.html' %}
{% load static %}


{% block content %}
<section class="container my-5">
  <div class="row">
    <div class="col-md-9">
      <h1 class="mb-3">PP WOVEN GROUND COVER</h1>
      <p>We are the leading manufacturers and Exporters of <strong>PP Woven Ground Covers</strong>. The Ground Covers offered by us are made on advanced lines looms.</p>
      <p>Our fabric is made from 100% virgin polypropylene granules &amp; special UV &amp; Color additives which gives it high tensile strength and UV resistance against the harshest environments and can last for a long term. Our ground is available in both Stripes and square marking lines and customized lines as per requirements.</p>
      <p>We offer a wide range of customized <strong>PP woven ground cover</strong> from 3.0 oz to 4.1 oz per square yard and it comes in widths ranging from 3’ ft. to 13’ft. Flat. And we can offer maximum up to 2500’ standard roll length.</p>

      <h2 class="mt-5">Benefits of using Ground cover:</h2>
      <ul>
        <li>100% Chemical free Weed control</li>
        <li>Reduces time in maintaining flower beds</li>
        <li>Plants can be potted or planted in straight lines in nurseries &amp; farms</li>
        <li>UV stabilized so can be used multiple times</li>
        <li>Resistant to Bacteria, mildew and other ground insects</li>
        <li>Prevents slitting of land due to heavy rainfall</li>
      </ul>

      <h2 class="mt-5">Application:</h2>
      <ul>
        <li>Indoor &amp; outdoor use in green houses</li>
        <li>Landscaping</li>
        <li>Cultivation of fruits and vegetables</li>
        <li>Parks, Gardens, playing fields, Golf courses &amp; nurseries</li>
        <li>Flower bed</li>
      </ul>

      <h2 class="mt-5">How to use ground cover fabric effectively?</h2>
      <ul>
        <li>Prepare the ground for use and clear the area of vegetation by removing sharp stones and objects if any as it could puncture the fabric</li>
        <li>Cover the paid fabric with a good layer of bark, stone chipping, cocoa shell etc. It is important to remove existing grass and weeds by hand or with a systemic weed killer</li>
        <li>To ensure effective weed suppression make sure mulch depth is maintained to a minimum of 50mm</li>
      </ul>
      <a href="contact.html" class="btn btn-primary mt-3">Send Inquiry</a>

    </div>
    <div class="col-md-3">
      <img src="images/PP-GROUND-COVER.jpg" alt="PP GROUND COVER" class="img-fluid mb-3">
      <div class="row row-cols-2 g-2">
        <div class="col"><img src="images/PP-WOVEN-GROUND-COVER.jpg" alt="PP WOVEN GROUND COVER" class="img-fluid"></div>
        <div class="bg-primary text-white py-2 fw-semibold">PP WOVEN GROUND COVER</div>
        <div class="col"><img src="images/PP-WOVEN-GROUND-COVER1.jpg" alt="PP WOVEN GROUND COVER1" class="img-fluid"></div>
                  <div class="bg-primary text-white py-2 fw-semibold">PP WOVEN GROUND COVER</div>

        <div class="col"><img src="images/PP-WOVEN-GROUND-COVER2.jpg" alt="PP WOVEN GROUND COVER2" class="img-fluid"></div>
                  <div class="bg-primary text-white py-2 fw-semibold">PP WOVEN GROUND COVER</div>

        <div class="col"><img src="images/PP-WOVEN-GROUND-COVER3.jpg" alt="PP WOVEN GROUND COVER3" class="img-fluid"></div>
                  <div class="bg-primary text-white py-2 fw-semibold">PP WOVEN GROUND COVER</div>

        <div class="col"><img src="images/PP-WOVEN-GROUND-COVER4.jpg" alt="PP WOVEN GROUND COVER4" class="img-fluid"></div>
                  <div class="bg-primary text-white py-2 fw-semibold">PP WOVEN GROUND COVER</div>

      </div>
    </div>
  </div>
</section>
 <!-- FIBC Types -->
    <div class="mt-5">
      <ul class="nav nav-tabs mb-3" id="fibcTabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="lifting-tab" data-bs-toggle="tab" data-bs-target="#lifting" type="button" role="tab">Lifting Loops</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="filling-tab" data-bs-toggle="tab" data-bs-target="#filling" type="button" role="tab">Filling & Closure</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="discharge-tab" data-bs-toggle="tab" data-bs-target="#discharge" type="button" role="tab">Discharge</button>
        </li>
      </ul>
      <div class="tab-content" id="fibcTabsContent">

  <!-- Lifting Loops Tab -->
  <div class="tab-pane fade show active" id="lifting" role="tabpanel">
    <div class="row text-center g-3">
      <div class="col-6 col-md-2">
        <img src="images/lifting/ancillary.jpg" class="img-fluid">
        <p class="mt-2">Discharge Spout with Protection Flap</p>
      </div>
      <div class="col-6 col-md-2">
        <img src="images/lifting/cross-corner.jpg" class="img-fluid">
        <p class="mt-2">Discharge Spout with Iris Protection</p>
      </div>
      <div class="col-6 col-md-2">
        <img src="images/lifting/double-stevedore-steps.jpg" class="img-fluid">
        <p class="mt-2">Discharge Spout with Petal Closure</p>
      </div>
      <div class="col-6 col-md-2">
        <img src="images/lifting/hood-lift.jpg" class="img-fluid">
        <p class="mt-2">Discharge Spout with Petal Closure</p>
      </div>
      <div class="col-6 col-md-2">
        <img src="images/lifting/side-seems-115x165-1.jpg" class="img-fluid">
        <p class="mt-2">Discharge Spout
</p>
      </div>
      <div class="col-6 col-md-2">
        <img src="images/lifting/single-stevedore-strap.jpg" class="img-fluid">
        <p class="mt-2">Full Drop Bottom
</p>
      </div>
      <div class="col-6 col-md-2">
        <img src="images/lifting/sleeve-lift.jpg" class="img-fluid">
        <p class="mt-2">Quick Discharge / Conical base
</p>
      </div>
    </div>
  </div>

  <!-- Filling & Closure Tab -->
  <div class="tab-pane fade" id="filling" role="tabpanel">
    <div class="row text-center g-3">
      <div class="col-6 col-md-2">
        <img src="images/Filling & Closure/Duffel-Top1.png" class="img-fluid">
        <p class="mt-2">Open Top With Hem
</p>
      </div>
      <div class="col-6 col-md-2">
        <img src="images/Filling & Closure/Filling-Spout.png" class="img-fluid">
        <p class="mt-2">Tie Down Flap
</p>
      </div>
      <div class="col-6 col-md-2">
        <img src="images/Filling & Closure/Open-Top-Tightening-Holes.png" class="img-fluid">
        <p class="mt-2">Duffel Top
</p>
      </div>
      <div class="col-6 col-md-2">
        <img src="images/Filling & Closure/Open-Top-With-Draw-Cord.png" class="img-fluid">
        <p class="mt-2">Open Top & Tightening Holes
</p>
      </div>
      <div class="col-6 col-md-2">
        <img src="images/Filling & Closure/Open-Top-With-Hem.png" class="img-fluid">
        <p class="mt-2">Open Top With Draw Cord
</p>
      </div>
      <div class="col-6 col-md-2">
        <img src="images/Filling & Closure/Tie-Down-Flap.png" class="img-fluid">
        <p class="mt-2">Filling Spout
</p>
      </div>
    </div>
  </div>

  <!-- Discharge Tab -->
  <div class="tab-pane fade" id="discharge" role="tabpanel">
    <div class="row text-center g-3">
      <div class="col-6 col-md-2">
        <img src="images/Discharge/Discharge-Spout.gif" class="img-fluid">
        <p class="mt-2">Spout Bottom</p>
      </div>
      <div class="col-6 col-md-2">
        <img src="images/Discharge/Discharge-Spout-with-Iris-Protection.gif" class="img-fluid">
        <p class="mt-2">Plain Bottom</p>
      </div>
      <div class="col-6 col-md-2">
        <img src="images/Discharge/Discharge-Spout-with-Petal-Closure.gif" class="img-fluid">
        <p class="mt-2">Full Drop Bottom</p>
      </div>
      <div class="col-6 col-md-2">
        <img src="images/Discharge/Discharge-Spout-with-Petal-Closure1.gif" class="img-fluid">
        <p class="mt-2">Conical Bottom</p>
      </div>
       <div class="col-6 col-md-2">
        <img src="images/Discharge/Discharge-Spout-with-Protection-Flap.gif" class="img-fluid">
        <p class="mt-2">Conical Bottom</p>
      </div>
       <div class="col-6 col-md-2">
        <img src="images/Discharge/Full-Drop-Bottom.gif" class="img-fluid">
        <p class="mt-2">Conical Bottom</p>
      </div>
       <div class="col-6 col-md-2">
        <img src="images/Discharge/Quick-Discharge-Conical-base.gif"class="img-fluid">
        <p class="mt-2">Conical Bottom</p>
      </div>
    </div>
  </div>




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="js/script.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const link = document.querySelector('.hover-dropdown > a');

    if (link) {
      link.addEventListener('click', function (e) {
        // Prevent Bootstrap dropdown toggle
        e.stopPropagation();
        // Go to products.html
        window.location.href = this.getAttribute('href');
      });
    }
  });
</script>
{% endblock %}
