{% extends 'base/base.html' %}
{% load static %}


{% block content %}
<section class="py-5">
  <div class="container">
    <div class="row mb-4 align-items-center">
      <div class="col-md-9">
        <h1 class="display-5 fw-bold">FIBC</h1>
        <p>
          <a href="https://www.alpinefibc.com/" target="_blank" rel="noopener"><strong>Bulk bags</strong></a>,
          also known as Flexible Intermediate Bulk Containers (FIBC) or <strong>jumbo bags</strong>, are economical and ideal for storing and transporting powdered, granulated, or bulk products.
        </p>
        <p>
          <strong>FIBC bags</strong> are made from UV-stabilized polypropylene woven fabrics. They can carry 500kg to 2000kg loads with safety ratios of 5:1 (single use) or 6:1 (multi-use or
          <a href="https://www.alpinefibc.com/un-fibc-bags/" target="_blank" rel="noopener"><strong>UN bags</strong></a>). An optional LDPE liner provides moisture protection.
        </p>
      </div>
      <div class="col-md-3 text-center text-md-end mt-3">
  <a href="{% url 'contact' %}" class="btn btn-primary mt-3">Send Inquiry</a>

</div>

    </div>

    <hr class="my-4">

    <div class="row text-center">
      <div class="col-md-3 mb-4">
        <img src="{% static 'images/Single-Loop-Bags.jpg' %}" alt="Single Loop Bags" class="img-fluid rounded shadow-sm mb-2">
        <h6>Single Loop Bags</h6>
      </div>
      <div class="col-md-3 mb-4">
        <img src="{% static 'images/Double-Loop-Bags.jpg' %}" alt="Double Loop Bags" class="img-fluid rounded shadow-sm mb-2">
        <h6>Double Loop Bags</h6>
      </div>
      <div class="col-md-3 mb-4">
        <img src="{% static 'images/Tunnel-Loop-Bags.jpg' %}" alt="Tunnel Loop Bags" class="img-fluid rounded shadow-sm mb-2">
        <h6>Tunnel Loop Bags</h6>
      </div>
      <div class="col-md-3 mb-4">
        <img src="{% static 'images/Cross-Corner-loop-Bags.jpg' %}" alt="Cross Corner loop Bags" class="img-fluid rounded shadow-sm mb-2">
        <h6>Cross Corner Loop Bags</h6>
      </div>
    </div>
  </div>
</section>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'js/script.js' %}"></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const link = document.querySelector('.hover-dropdown > a');

    if (link) {
      link.addEventListener('click', function (e) {
        // Prevent Bootstrap dropdown toggle
        e.stopPropagation();
        // Go to products.html
        window.location.href = this.getAttribute('href');
      });
    }
  });
</script>

{% endblock %}

